@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
    /* .input::-webkit-calendar-picker-indicator {
        appearance: none;
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        width: 25px;
        height: 25px;
      
        border-width: thin
       
    } */
    html{
        scroll-behavior: smooth;
    }
    .custom-box-shadow {
        box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
      }
    .anim{
        animation: pop .8s ease alternate infinite;
      }
      @keyframes pop {
        from{
            transform: translateY(-60%) ;
        }
        to{
            transform: translateY(20%) ;
        }
      }
}
